////////////////////////////////////////////
/////2nd Page Seaarch Filters tyling////////
////////////////////////////////////////////

	
.col.c3.middleleft.search-filters{
	background-color: #ecf5ca;
	margin: 10px;
	border-radius: 20px;
	padding: 10px;
	text-align: left;

	.search{
		background-color: white;
		font-size: .75em;
	}
	
	ul{
		padding: 0 20px;
		text-align: left;

	}

	.radio{
		padding: 0 .75em;
		text-align: left;
	}
	select{
		font-size: 1em;
		width: 180%;
	}


}