//////Search Results

.r4 {
	.full {
		height: 100%;
		border-radius: 0 0 2em 2em;
	}

	.green-container {
				width: 100px;
				height: 100px;
				background-color: #EDF9D3;
				margin: 0 auto;
			}
	.search-results {

		p {
			margin: 15px 0;
			font-size: 1em;
			color: darken(#8AB83A, 10%);
		}

		.sort-container {

			p {
				display: inline-block;
			}

			.page-list {
				
				display: inline-block;
				float: right;
				margin-right: 20px;
				margin-top: -35px;

					li {
						color: darken(#8AB83A, 10%);
						display: inline-block;
						padding: 0 5px;
						border-right: 2px solid darken(#8AB83A, 10%);

						&:last-child  {
							border-right: none;
						}
					}


			}
		}

		.sort-results {
    


			margin-bottom: 20px;

			.sortresults-list {
        display: inline-block;

				.text {
					font-size: 0.8em;
					width: 100px;
				}
			}
		}
	}
}
