ul  
  li  
    label.radio(for="size") 
      input#size( value="1" type="radio" name="size" )
      span
      button-text 4 
  li  
    label.radio(for="size") 
      input#size( value="0" type="radio" name="size" )
      span
      button-text 8 
ul  
  li   
    label.radio(for="size") 
      input#size( value="0" type="radio" name="size" )
      span
      button-text 5 
  li   
    label.radio(for="size9") 
      input#size9( value="1" type="radio" name="size" )
      span
      button-text 9
ul  
  li   
    label.radio(for="size6") 
      input#size6( value="1" type="radio" name="size" )
      span
      button-text 6
  li   
    label.radio(for="size10") 
      input#size10( value="1" type="radio" name="size" )
      span
      button-text 10 
ul  
  li   
    label.radio(for="size7") 
      input#size7( value="1" type="radio" name="size" )
      span
      button-text 7 
  li   
    label.radio(for="size11") 
      input#size11( value="1" type="radio" name="size" )
      span
      button-text 11 