doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    //- link(rel="stylesheet" href="//cdn.jsdelivr.net/min/1.5/min.min.css")
    link(rel='stylesheet', href='/styles/entireframework.min.css')
    link(rel="stylesheet" href="css/main.css")
    
  body
    div.container
      div.row.r1
        div.col.c9 
          | &nbsp
        div.col.c3
          p Sign in | Sign up 
      div.row.r2
        div.col.c2
          | &nbsp
        div.col.c4.clogo
          div.logo-container
        div.col.c4.toplist
          ul
            li About
            li Contact
            li Blog
            li Press
        div.col.c2
      div.row.r3
        div.col.c2
          | &nbsp
        div.col.c8
          ul.topnav
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
        div.col.c2
          | &nbsp
      div.row.r4
        div.col.c2.out
          | &nbsp
        div.col.c5.middleleft.text
          h3 We're making one aspect of life easier for parents of multiples:
          h5 buying and selling gently used sets of clothes!
        div.col.c3.middleright.kid1
          div.topkidcontainer
        div.col.c2.out
          | &nbsp
      div.row.r5
        div.col.c2.out
          | &nbsp
        div.col.c3.middleleft.sidemiddle
          | &nbsp
        div.col.c2.middleleft
          input(type='button' value='Shop Now!')
        div.col.c3.middleleft.kid2
          div.middlekidcontainer
        div.col.c2.out
          | &nbsp
      div.row.r6
        div.col.c2
          | &nbsp
        div.col.c3.middleleft
          | &nbsp
        div.col.c2.middleleft
          div.treepic
        div.col.c3.middleleft.kid3
          div.bottomkidcontainer
        div.col.c2
          | &nbsp
      div.row.r7
        div.col.c2
          | &nbsp
        div.col.c2.botlistleft
          div.facebookpic
        div.col.c2
          div.twitterpic
        div.col.c2
          div.messagebpic
        div.col.c2.botlistright
          div.specialoffpic
        div.col.c2
          | &nbsp
      div.row.r8
        div.col.c3
          | &nbsp
        div.col.c6
          ul
            li Link here |
            li Link here |
            li Link here |
            li Link here |
            li Link here |
            li Link here
        div.col.c3
          | &nbsp



    script(src="js/main.js")
