doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    //- link(rel="stylesheet" href="//cdn.jsdelivr.net/min/1.5/min.min.css")
    link(rel='stylesheet', href='/styles/entireframework.min.css')
    link(rel="stylesheet" href="css/main.css")
    
  body
      div.row.r1
        div.col.c9 
          | &nbsp
        div.col.c3
          p Sign in | Sign up 
      div.row.r2
        div.col.c2
          | &nbsp
        div.col.c4.clogo
            img.logo(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
        div.col.c4.toplist
          ul.topbuttons
            li: a.btn.btn-a.btn-sm.smooth About
            li: a.btn.btn-b.btn-sm.smooth Contact
            li: a.btn.btn-c.btn-sm.smooth Blog
            li: a.btn.btn-a.btn-sm.smooth Press
          h4 Where parents of multiples save, sell & share.
        
      div.row.r3
        div.col.c12
          ul.topnav
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
      div.row.r4
        div.col.c2
          | &nbsp
        div.col.c8
          div.col.c6.middleleft.text
            h3 We're making one aspect of life easier for parents of multiples:
            h5 buying and selling gently used sets of clothes!
          div.col.c6.middleright.kid1
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg')
        div.col.c2
          | &nbsp
      div.row.r5
        div.col.c2
          | &nbsp
        div.col.c8
          div.col.c6.middleleft.sidemiddle
            div.col.c6
              | &nbsp
            div.col.c6.middleleft
              input(type='button' value='Shop Now!')
          div.col.c6.middleleft.kid2
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg')
        div.col.c2
          | &nbsp
      div.row.r6
        div.col.c2
          | &nbsp
        div.col.c8.middleleft
          div.col.c3.middleleft
            | &nbsp
          div.col.c3.middleleft
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png')
          div.col.c6.middleleft.kid3
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg')
        div.col.c2
          | &nbsp
      div.row.r7
        div.col.c2
          | &nbsp
        div.col.c8
          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png')

          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png')

          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png')

          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png')
        div.col.c2
          | &nbsp
      div.row.r8
        div.col.c3
          | &nbsp
        div.col.c6
          ul
            li Link here |
            li Link here |
            li Link here |
            li Link here |
            li Link here |
            li Link here
        div.col.c3
          | &nbsp



    script(src="js/main.js")
