doctype html
html(lang="en-US")
  head
    link(href='http://fonts.googleapis.com/css?family=Corben:400,700' rel='stylesheet' type='text/css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel='stylesheet', href='/styles/entireframework.min.css')    
    link(rel="stylesheet" href="css/page2.css")
    
  body
      div.main-header

        div.signin
             p Sign in | Sign up 

        div.row.r1
          div.col.c7 
            div.logo-div This is where we insert our logo partial
          div.col.c5
            div.nav-div This is where we insert our nav partial



      div.row.r2 This is where the pink navbar is
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
            li: input(type="text" placeholder="search")


      div.row.r3.main-container
        div.col.c4.left-content

          div.left-content This is all content on the left side

        div.col.c8.right-content This is all content on the right side
          h4 Where parents of multiples save, sell & share


      div.row.r4
        div.col.c12
          ul.image-links This is where the pictures of facebook, twitter etc. are
      div.row.r5
        div.col.c12
          ul.reg-links This is where the regular bottom-most links are

    script(src="js/main.js")
