extends layouts/master

block header
 div.row.r1
    div.col.c9 
      | &nbsp
    div.col.c3
      p Sign in | Sign up 
  div.row.r2
    div.col.c2
      | &nbsp
    div.col.c4.clogo
        img.logo(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
    div.col.c4.toplist
      ul.topbuttons
        li: a.btn.btn-a.btn-sm.smooth About
        li: a.btn.btn-b.btn-sm.smooth Contact
        li: a.btn.btn-c.btn-sm.smooth Blog
        li: a.btn.btn-a.btn-sm.smooth Press
      h4 Where parents of multiples save, sell & share

  div.row.r3.pink-nav
    div.col.c12
      ul.topnav
        li Buy
        li Sell
        li How it Works
        li Links
        li Community
        li: input(type="text" placeholder="search")
   
block content
  div.row.r4
    div.col.c2
      | &nbsp

    div.col.c8.white.full
      
      div.col.c3.middleleft.search-filters
        p Limit your search by:
        hr 
        ul
          li
            input.search( type="text" placeholder="") 
          li 
            button Search
        
        ul 
          li  
            span Condition:
            ul  
              li 
                label.radio(for="new") 
                  input#new( type="radio" name="condition" )
                  .button-text New  
              li 
                label.radio(for="gentlyused") 
                  input#gentlyused( type="radio" name="condition" )
                  .button-text Gently Used  
                
        ul  
          li  
            span Size:
            include ./partials/_sizes.jade

        ul  
          li  
            span Season:
            ul
              li   
                label.radio(for="allseasons") 
                  input#allseasons( value="allseasons" type="radio" name="season" )
      
                  button-text All Seasons 
            ul  
              li   
                label.radio(for="Spring") 
                  input#Spring( value="Spring" type="radio" name="season" )
                  
                  button-text Spring
            ul  
              li   
                label.radio(for="Summer") 
                  input#Summer( value="Summer" type="radio" name="season" )
                  
                  button-text Summer
            ul
              li   
                label.radio(for="Fall") 
                  input#Fall( value="Fall" type="radio" name="season" )
                  
                  button-text Fall
            ul  
              li   
                label.radio(for="Winter") 
                  input#Winter( value="winter" type="radio" name="season" )
                  
                  button-text Winter

        ul  
          li  
            span Type:
            ul
              li   
                label.radio(for="any") 
                  input#any( value="any" type="radio" name="type" )
                  span
                  button-text Any
            ul  
              li   
                label.radio(for="onepiece") 
                  input#onepiece( value="onepiece" type="radio" name="type" )
                  span
                  button-text One-Piece
            ul
              li   
                label.radio(for="tops") 
                  input#tops( value="tops" type="radio" name="type" )
                  span
                  button-text Tops            
            ul
              li   
                label.radio(for="bottoms") 
                  input#bottoms( value="bottoms" type="radio" name="type" )
                  span
                  button-text Bottoms 
        ul
          li 
            .text Brand:
            include ./partials/_linkhere.jade

      div.col.c8.middleright.search-results
        p.filters-selected All > Twin > B/G 
        .sort-container
          .sort-by
            p sort by:
            select
              option Price
              option Quality
              option Rating
          ul.page-list
            li prev
            li page num.
            li next
            li view all
        .sort-results
          ul.sortresults-list
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours


    div.col.c2
      | &nbsp


block footer
  div.link-container
    div.col.c3
      | &nbsp
    div.col.c6
      ul
        li Link here |
        li Link here |
        li Link here |
        li Link here |
        li Link here |
        li Link here
    div.col.c3
      | &nbsp



  script(src="js/main.js")
