extends layouts/master

block header
 div.row.r1
    div.col.c9 
      | &nbsp
    div.col.c3
      p Sign in | Sign up 
  div.row.r2
    div.col.c2
      | &nbsp
    div.col.c4.clogo
        img.logo(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
    div.col.c4.toplist
      ul.topbuttons
        li: a.btn.btn-a.btn-sm.smooth About
        li: a.btn.btn-b.btn-sm.smooth Contact
        li: a.btn.btn-c.btn-sm.smooth Blog
        li: a.btn.btn-a.btn-sm.smooth Press

  div.row.r3.pink-nav
    div.col.c12
      ul.topnav
        li Buy
        li Sell
        li How it Works
        li Links
        li Community
        li: input(type="text" placeholder="search")
   
block content
  div.row.r4
    div.col.c2
      | &nbsp
    div.col.c8.white.full
      div.col.c4.middleleft.text.search-filters
        p This is where the search filters will be
      div.col.c8.middleright.search-results
        p All > Twin > B/G 
        .sort-container
          .sort-by
            p sort by:
            select
              option Price
              option Quality
              option Rating
          ul.page-list
            li prev
            li page num.
            li next
            li view all
        .sort-results
          ul.sortresults-list
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours
            li
              .green-container
              p Sailor Suits $15.00 Jane Joe 4 Hours


    div.col.c2
      | &nbsp


block footer
  div.link-container
    div.col.c3
      | &nbsp
    div.col.c6
      ul
        li Link here |
        li Link here |
        li Link here |
        li Link here |
        li Link here |
        li Link here
    div.col.c3
      | &nbsp



  script(src="js/main.js")
